{% if post.tags and post.tags.length%}
<ul class="article-tag-list" itemprop="keywords">
  {% for tag in post.tags%}
  <li class="article-tag-list-item">
    <a class="article-tag-list-link" href="/tags/{{ tag }}" rel="tag">{{ tag }}</a>
  </li>
  {% endfor%}
</ul>
{% endif%}
