{% set class_name = "p-name article-title"%}

{% if page and not post %}
  {% set post = page %}
{% endif%}
  {% set cover = post.cover %}
  {% set description = post.description and post.description.length %}
  <article id="{{ post.layout }}-{{ post.slug }}" class="h-entry article article-type-{{ post.layout }}" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  {# {% if is_post() or theme.home.style == 'detail' %}
    {% include 'post/gallery' %}
  {% endif %}  #}
  <div class="article-inner">
    <div class="article-main">
      <header class="article-header">
        {% include './post/title.njk'  %}
        <div class='meta-info-bar'>
          {% include './post/date.njk' %}
          <div class="need-seperator meta-info">
            {% include './post/category.njk' %}  
          </div>
          <div class="wordcount need-seperator meta-info">
            {{ post._symbolsCount }} 字
          </div>
        </div>
        {% include './post/tag.njk' %}
      </header>
      <div class="e-content article-entry" itemprop="articleBody">
        {% if pageType == "Index"%}
            <div class="truncate-text">
              {{ post.excerpt | stripHtml | shorten(500)}}
          </div>
          {% else%}
          {{ post._content | safe}}
          {% endif%}
      </div>

        {# <footer class="article-footer">
          {% if post.excerpt and index %}
            <a href="/post/{{post_url}}#more" class="article-more-link">
              阅读全文<i class="fa-solid fa-angle-right"></i>
            </a>
          {% endif %}
        </footer> #}
    </div>
    
    {% if pageType === "Index" %}
      <a class="right-panel {% if cover %} with-pic {% else %} non-pic {% endif %}"
        {% if cover %} style="background-image: url({{ cover }})" {% endif %}
        href="/post/{{ post._url }}" 
      >
        {% if cover %}
          <div class="overlay">
            <i class="fa-solid fa-angle-right with-pic"></i>
          </div>
        {% else %}
          <i class="fa-solid fa-angle-right non-pic"></i>
        {% endif %}
      </a>
    {% endif %}
  </div>
  
  {% include './post/nav.njk' %}

  {# {% if not index %}
    {% include 'post/nav' %}
  {% endif %} #}
</article>



