{% set theme_sidebar="bottom" %}
{% set theme_copyright="true" %}

<footer id="footer">
  {% if theme_sidebar === 'bottom' %}
    {% include '_partial/sidebar.njk' %}
  {% endif %}
  <div id="footer-info" class="inner">
    {% if theme.copyright %}
      {{ theme_copyright }}
    {% endif %}
    &copy; 2024@ <a href="{{sysConfig.url}}">{{ sysConfig.title }}</a>   
    <a class="icp" href="https://beian.miit.gov.cn/" target="_blank" rel="noopener noreferrer nofollow"> {% SysConfigItem path="beian"%}</a>
    <br>
    Powered by <a href="https://github.com/uuice/blog.git" target="_blank">UUICE</a> & Theme 移植自<a href="https://github.com/saicaca/hexo-theme-vivia">Vivia</a>
  </div>
</footer>