<!-- header container -->
{{ sysConfig.title}}
{{ myGlobalVariable }}
<header class="header-container{{ " post" if pageType == "Post" else "" }}">
  {% if page.cover or sysConfig.banner %}
    <div class="post-image" style="background-image: url({{ page.cover or locals.sysConfig.banner }})"></div>
  {% endif %}

  {% include '_partial/nav.njk'%}

  {% if pageType == 'Index'  %}
    <div class="header-content">
      <div class="post-text layout-block layout-padding">
        <h1 class="title-wrap">{{ locals.sysConfig.title }}</h1>
        {% if locals.sysConfig.subTitle %}
          <h2 class="title-sub-wrap">{{ locals.sysConfig.subTitle }}</h2>
        {% endif %}
      </div>
    </div>
 {% endif %}

  {# {% if pageType == 'Archive' %}
    <div class="header-content">
      <div class="post-text layout-block layout-padding">
        <h1 class="title-wrap">归档</h1>
        <h2 class="title-sub-wrap">共有{{ site.posts.length }}篇文章</h2>
      </div>
    </div>
  {% endif %}

  {% if pageType == 'Category' %}
    {% set length = 0 %}
    {% for categorie in site.categories %}
      {% if categorie.name == page.category %}
        {% set length = categorie.length %}
      {% endif %}
    {% endfor %}
    <div class="header-content">
      <div class="post-text layout-block layout-padding">
        <h1 class="title-wrap">{{ page.category }}</h1>
        <h2 class="title-sub-wrap">当前分类下共有{{ length }}篇文章</h2>
      </div>
    </div>
  {% endif %}

  {% if pageType == 'Tag' %}
    {% set length = 0 %}
    {% for tag in site.tags %}
      {% if tag.name == page.tag %}
        {% set length = tag.length %}
      {% endif %}
    {% endfor %}
    <div class="header-content">
      <div class="post-text layout-block layout-padding">
        <h1 class="title-wrap">{{ page.tag }}</h1>
        <h2 class="title-sub-wrap">当前标签下共有{{ length }}篇文章</h2>
      </div>
    </div>
  {% endif %}

  {% if pageType == 'Post' %}
    <div class="header-content">
      <div class="post-text layout-block">
        <div class="layout-margin">
          <h1 class="title-wrap">{{ page.title }}</h1>
          <h2 class="title-sub-wrap">
            <strong>{{ page.author or config.author }}</strong>
            <span>发布于</span>

            {% include "../_widget/date" with { class_name: 'article-date', post: page, date_format: null } %}
          </h2>
          {% if date(page.updated, null) != date(page.date, null) %}
            <h2 class="last-time">
              <span>最后更新于</span>
              {% include "../_widget/updated" with { class_name: 'article-updated', post: page, date_format: null } %}
            </h2>
          {% endif %}
          {% if theme.comments.enable and theme.comments.use == "valine" and theme.comments.valine.visitor %}
            <h2 id="{{ url_for(page.path) }}" class="title-sub-wrap leancloud_visitors" data-flag-title="{{ page.title }}">
              <em>文章访问量</em>
              <i class="leancloud-visitors-count"></i>
            </h2>
          {% endif %}
          {% include "../_widget/category" with { page: page, class_name: 'dark' } %}
          {% include "../_widget/tag" with { page: page, class_name: 'dark' } %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if pageType == 'Page' %}
    <div class="header-content">
      <div class="post-text layout-block layout-padding">
        <h1 class="title-wrap">{{ page.title }}</h1>
        {% if page.subtitle %}
          <h2 class="title-sub-wrap">{{ page.subtitle }}</h2>
        {% endif %}
      </div>
    </div>
  {% endif %} #}
</header>