{% extends "layout.njk" %}
{% block body %}
{% for post in postList %}
    {% include "_partial/article.njk"%}
{% endfor%}

{%if pageCount > 1 %}
  <nav id="page-nav">
   {% if prevPageIndex %} 
        <a id="prev-btn" class="page-nav-btn" href="/page/{{ prevPageIndex }}">
        <i class="fa-solid fa-angle-left"></i>
        </a>
     {% else %}
        <a id="prev-btn" class="page-nav-btn disabled" href="">
        <i class="fa-solid fa-angle-left"></i>
        </a>
     {% endif%}

    <div id="num-bar">
      {% if prevPageIndex %}
      <a class="page-number" href="/page/{{prevPageIndex}}">{{prevPageIndex}}</a>  
       {% endif %}
      <span class="page-number current">{{pageIndex}}</span>
       {% if nextPageIndex %}
      <a class="page-number" href="/page/{{nextPageIndex}}">{{nextPageIndex}}</a>  
       {% endif %}
    </div>
    {% if nextPageIndex %} 
        <a id="prev-btn" class="page-nav-btn" href="/page/{{ nextPageIndex }}">
        <i class="fa-solid fa-angle-right"></i>
        </a>
     {% else %}
        <a id="prev-btn" class="page-nav-btn disabled" href="">
        <i class="fa-solid fa-angle-right"></i>
        </a>
     {% endif%}
  </nav>
{% endif %}

  pageIndex: {{ pageIndex }},
   pageCount: {{ pageCount }},
   prevPageIndex: {{ prevPageIndex }},
  nextPageIndex: {{ nextPageIndex }},
 pageSize: {{ pageSize }},
{% endblock %}
