{% CategoryList withPostNum="true" %}
  <div class="widget-wrap">
    <div class="widget">
      <h3 class="widget-title">分类</h3>
     {% for cate in list%}
      <a class="category-link" href="/categories/{{ cate._url }}">
                {{ cate.title }}
                <div class="category-count">{{ cate.postNum}}</div>
            </a>
    {% endfor%}        
    </div>
  </div>
{% endCategoryList %}
