{% PostRecent num="5"%}

 <div class="widget-wrap">
    <div class="widget">
      <h3 class="widget-title">最新文章</h3>
      <ul>
        {% for post in list %}
          <a class="recent-link" href="/archives/{{post._url}}" title="{{post.title}}" >
            <div class="recent-link-text">
              {{post.title if post.title else "无标题"}}
            </div>
          </a>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endPostRecent %}