{% TagList %}
  <div class="widget-wrap">
    <div class="widget">
      <h3 class="widget-title">标签</h3>
      <ul class="widget-tag-list" itemprop="keywords">
        {% for tag in list%}
        <li class="widget-tag-list-item">
            <a class="widget-tag-list-link" 
            href="/tags/{{tag.url}}"
            rel="tag"> {{ tag.title }}
            </a>
          </li>
          {% endfor%}
        </ul>
    </div>
  </div>
{% endTagList %}
