<h2>user filter  Test</h2>
{{sysConfig.author | filterTestUser}}

<h2>user function  Test</h2>
{% set aaa = functionTestUser() %}
{{ aaa }}


<h2>user tag  Test</h2>
{% TagTestUser %}
  <ul>
    {% for item in list %}
      <li>
        {{item.id}}, 
        {{item.city}}, 
        {{item.parent}}, 
        {{item.spelling}}, 
        {{item.abbr}}, 
        {{item.short}}, 
      </li>
    {% endfor %}
  </ul>
  {% endTagTestUser %}

{% TagTest %}
  <ul>
    {% for item in list %}
      <li>
        {{item.id}}, 
        {{item.city}}, 
        {{item.parent}}, 
        {{item.spelling}}, 
        {{item.abbr}}, 
        {{item.short}}, 
      </li>
    {% endfor %}
  </ul>
{% endTagTest %}


<h2>SysConfig Test</h2>

{% SysConfig %}
  <ul>
    {% for key, value in list %}
      <li>
        Key: {{ key }}, Value: {{ value }}
      </li>
    {% endfor %}
  </ul>
{% endSysConfig %}

<h2>SysConfigItem Test</h2>

{% SysConfigItem path="subtitle" %}

<h2>PageList Test</h2>
{% PageList %}
    <ul>
    {% for page in list %}
      <li>
        {{ page.id }}:{{ page.title}}:{{page.url}}
      </li>
    {% endfor %}
  </ul>
{% endPageList %}

<h2>PageItem Test title</h2>
{% PageItem title="在Directive中获取组件DOM以及实例" %}
    <ul>
    {% for key, val in page %}
      <li>
        {{ key }}:{{ val }}
      </li>
    {% endfor %}
  </ul>
{% endPageItem %}

<h2>PageItem Test id</h2>

{% PageItem id="71" %}
    <ul>
    {% for key, val in page %}
      <li>
        {{ key }}:{{ val }}
      </li>
    {% endfor %}
  </ul>
{% endPageItem %}

<h2>PageItem Test alias</h2>

{% PageItem alias="alias11" %}
    <ul>
    {% for key, val in page %}
      <li>
        {{ key }}:{{ val }}
      </li>
    {% endfor %}
  </ul>
{% endPageItem %}

<h2>CategoryList Test</h2>
{% CategoryList %}
    <ul>
    {% for cate in list %}
      <li>
        {{ cate.id }}:{{ cate.title}}:{{cate.url}}
      </li>
    {% endfor %}
  </ul>
{% endCategoryList %}

<h2>CategoryList withPostNum Test</h2>
{% CategoryList withPostNum="true"%}
    <ul>
    {% for cate in list %}
    {{cate | dump | console('page', 'log') | safe}}
      <li>
        {{ cate.id }}:{{ cate.title}}:{{ cate.postNum }}::{{cate.url}}
      </li>
    {% endfor %}
  </ul>
{% endCategoryList %}

<h2>CategoryItem Test title</h2>
{% CategoryItem title="nodejs" %}
    <ul>
    {% for key, val in category %}
      <li>
        {{ key }}:{{ val }}
      </li>
    {% endfor %}
  </ul>
{% endCategoryItem %}


<h2>TagList Test</h2>
{% TagList %}
    <ul>
    {% for tag in list %}
      <li>
        {{ tag.id }}:{{ tag.title}}:{{tag.url}}
      </li>
    {% endfor %}
  </ul>
{% endTagList %}

<h2>TagList withPostNum Test</h2>
{% TagList withPostNum="true"%}
    <ul>
    {% for tag in list %}
      <li>
        {{ tag.id }}:{{ tag.title}}:{{ tag.postNum }}:{{tag.url}}
      </li>
    {% endfor %}
  </ul>
{% endTagList %}

<h2>TagItem Test title</h2>
{% TagItem title="directive" %}
    <ul>
    {% for key, val in tag %}
      <li>
        {{ key }}:{{ val }}
      </li>
    {% endfor %}
  </ul>
{% endTagItem %}


<h2>JsonConfig Test alias</h2>
{% JsonConfig alias="link" %}
    {{ jsonData | dump }}
{% endJsonConfig %}

<h2>YmlConfig Test alias</h2>
{% YmlConfig alias="link" %}
    {{ ymlData | dump }}
{% endYmlConfig %}



<h2>PostPageList Test pageQuery</h2>
{% PostPageList pageIndex="1",pageSize="2" %}
    {{ postPageList | dump }}
{% endPostPageList %}


<h2>PostRecent Test</h2>
{% PostRecent num="1" %}
    {{ list | dump }}
{% endPostRecent %}


<h2>PostArchive Test</h2>
<h2>PostArchive tag</h2>
{% PostArchive type="tag" %}
    {{ archive | dump }}
{% endPostArchive %}


<h2>PostArchive category</h2>
{% PostArchive type="category" %}
    {{ archive | dump }}
{% endPostArchive %}


<h2>PostArchive year</h2>
{% PostArchive type="year" %}
    {{ archive | dump }}
{% endPostArchive %}


<h2>PostArchive month</h2>
{% PostArchive type="month" %}
    {{ archive | dump }}
{% endPostArchive %}

<h2>PostListByCategory</h2>
{% PostListByCategory title="nodejs" %}
    {{ list | dump }}
{% endPostListByCategory %}


<h2>PostListByTag</h2>
{% PostListByTag title="angular" %}
    {{ list | dump }}
{% endPostListByTag %}


<h2>PostPrev</h2>
{% PostPrev id="48" %}
    {{ post | dump }}
{% endPostPrev %}


<h2>PostNext</h2>
{% PostNext id="48" %}
    {{ post | dump }}
{% endPostNext %}
